<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">ABCD</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Ana Sayfa</a></li>
            <li class="nav-item"><a class="nav-link" href="">Hakkında</a></li>
            <li class="nav-item"><a class="nav-link" href="">Yayın Politikası</a></li>
            <li class="nav-item"><a class="nav-link" href="">Dergi Kurulları</a></li>
            <li class="nav-item"><a class="nav-link" href="">Yayın İlkeleri</a></li>
            <li class="nav-item"><a class="nav-link" href="">Etik İlkeler</a></li>
            <li class="nav-item"><a class="nav-link" href="">Yazar Rehberi</a></li>
            <li class="nav-item"><a class="nav-link" href="">Hakem Rehberi</a></li>
            <li class="nav-item"><a class="nav-link" href="">İletişim</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'myaccount' %}">Hesabım</a></li>
            <li class="nav-item"><a class="nav-link" href="">Çıkış Yap</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'admin:login' %}">Giriş Yap</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}"> Yazar Olarak Kayıt Ol</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'editorregister' %}"> Editörlük Başvurusu Yap</a></li>
            {%endif%}
        </ul>
    </div>
</nav>